{% extends 'base.html' %}

{% block title %}Movie Ratings: Submit Movie Rating{% endblock title %}

{% block body %}
<h1>Submit a Movie Rating</h1>
<!--1. drop down menu for all the movies for ratings
2. radio button for movie rating 1 - 5
3. text are for comment section 
4. Submit button
5. Redirect to thankyou page then back to homepage
OR add the movie rating within each movie web page-->



<!-- Example Form for Drop-Down Select -->
<form>
    <label for="movie-select">Choose a Movie:</label>
  
    <select name="movie" id="movie-select">
        {% for movie in movies %}
      <option value="{{ movie.movie_id }}">{{ movie.title }}</option>
        {% endfor %}
    </select>
  </form>


  <!-- Example Form for Radio Button  -->
  <form>
    Choose Your Rating:
  
    <input type="radio" name="shipping" value="standard" id="standard-shipping">
    <label for="standard-shipping">Standard shipping (5-7 days)</label>
  
    <input type="radio" name="shipping" value="expedited" id="expedited-shipping">
    <label for="expedited-shipping">Expedited shipping (1-3 days)</label>
  </form>

  
<!-- Example Form for Text Area -->
  <form>
    <label for="about-me">Write a Review:</label>
    <textarea name="about-me" id="about-me"></textarea>
  </form>


<!-- Example for Submit Button -->
<form>
    <input type="submit">
  </form>









<p>
  {{user.email}}
</p>

{% endblock body %}